@{
    ViewBag.Title = "Article 404 error";
}
<h1>404 error</h1>
<hr />
<div class="alert alert-danger" role="alert">
    <p>The specified article could not be found.</p>
</div>
<a class="btn btn-default" role="button" asp-controller="articles" asp-action="index">Return to articles</a>

