@{ 
    ViewBag.Title = "About";
}

<h1>About</h1>
<hr />
<p>
    On this page you find information about the website and its creator
</p>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Creator</h3>
    </div>
    <div class="panel-body">
        Bas Joosten is the creator of this website.
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Goal of the website</h3>
    </div>
    <div class="panel-body">
        The goal of the website is to get experience with <b>ASP.NET</b>
    </div>
</div>