@{
    ViewBag.Title = "Access denied";
}
<h1>No access granted</h1>
<hr />
<div class="alert alert-danger" role="alert">
    <p>You do not have access to this resource or action. If this is a mistake then please contact our support team.</p>
</div>
<a class="btn btn-default" role="button" asp-controller="home" asp-action="index">Return to home</a>