@{
    ViewBag.Title = "Home";
}
<h1>Welcome to my news site!</h1>
<hr />
<p>
    On my site you will find all kinds of news articles.
    I hope you enjoy them and have a pleasant read expercience.
    With kind regards, Bas
</p>
<a class="btn btn-default" role="button" asp-controller="articles" asp-action="index">See articles</a>
<a class="btn btn-danger" role="button" asp-controller="home" asp-action="exception">Throw Exception</a>

